<div class="container d-flex align-content-start flex-wrap">
    <% for(job of jobsDetails){ %>

        <div class="card border-white m-3 bg-theme" style="max-width: 18rem">
            <div class="card-header d-flex flex-column align-items-center justify-content-start p-2">
                <span style="width: 160px" class="bg-primary bg-opacity-25 text-white border border-success border-opacity-50 rounded">
                    <%= job.active %>
                </span>
                <h5 class="my-1 fw-bold text-warning">
                    <%= job.cname %>
                </h5>
                <div>
                    <span>Tech</span>
                    <span class="text-info">
                        <%= job.techpost %>
                    </span>
                </div>
            </div>
            <div class="card-body d-flex align-items-center justify-content-center flex-column">
                <p class="fw-bold">
                    <i class="bi bi-geo-alt-fill"></i>
                    <%= job.caddress %>
                </p>
                <p class="fw-bold">
                    <i class="bi bi-geo-alt-fill"></i>
                    <%= job.salary %>LPA
                    
                </p>
                <div class="skills p-1">
                    <% if (job.skill && Array.isArray(job.skill)) { %>
                        <% job.skill.forEach((skill, index) => { %>
                            <button class="btn btn-sm btn-outline-info">
                                <%= skill %>
                            </button>
                        <% }) %>
                    <% } else { %>
                        <p>No skills available.</p>
                    <% } %>
                </div>
                <a href="/job/1" class="btn btn-sm btn-outline-success my-2">
                    View details
                </a>
            </div>
        </div>
    <% } %>
</div>
